:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.full-page {
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.scroll-view::-webkit-scrollbar-thumb {
  background-color: #d7ae5a;
  border-radius: 8px;
}
.scroll-view::-webkit-scrollbar {
  width: 8px;
}
.scroll-view::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #01091d;
}
.flex {
  display: flex;
}

/* grid */
.grid {
  display: grid;
}
.align-center {
  align-items: center;
}

.mb-8 {
  margin-bottom: 8px;
}

/* text */
.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.text-sm {
  font-size: 12px;
}

.w-full {
  width: 100%;
}
